---
services:
  vault:
    image: hashicorp/vault:1.21.1
    ports:
      - "8200:8200/tcp"
    environment:
      - VAULT_DEV_ROOT_TOKEN_ID=root
      - VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200
    cap_add:
      - IPC_LOCK
    command: "server -dev -dev-root-token-id=root -dev-listen-address=0.0.0.0:8200"
    networks:
      - vcv-network
    volumes:
      - vault-data:/vault

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "52000:52000/tcp"
    networks:
      - vcv-network
    environment:
      - PORT=52000
      - VAULT_ADDR=http://vault:8200
      - VAULT_PKI_MOUNT=pki
      - ENABLE_REVOKE=true
    depends_on:
      - vault
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 64M

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "4321:4321/tcp"
    networks:
      - vcv-network
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_OPTIONS=--max-old-space-size=512
    deploy:
      resources:
        limits:
          cpus: '1.00'
          memory: 768M

networks:
  vcv-network:
    driver: bridge

volumes:
  vault-data:
