# EXAMPLE
# Change with your actual Vault configuration
VAULT_ADDR=https://your-vault-address:8200
VAULT_READ_TOKEN=s.YourGeneratedTokenHere
VAULT_PKI_MOUNT=pki
VCV_EXPIRE_CRITICAL=7
VCV_EXPIRE_WARNING=30