# Vault read token
VAULT_READ_TOKEN=hvs.CAESIE6mKBjInkYQ4e_gwpPQly4dfY-uw6SQiMS8t0fl-u8jGh4KHGh2cy5TaE9Ec0pMbEJpdWVwM0E0V2FpVXhSYU8

# Backend port
PORT=52000

# log level can be 'debug' or 'info'
LOG_LEVEL=

# log format can be 'json' or 'console'
LOG_FORMAT=json

# log output can be 'console' or 'file'
LOG_OUTPUT=