# EXAMPLE
# Change with your actual Vault configuration
APP_ENV=prod
LOG_FILE_PATH=/var/log/app/vcv.log
LOG_FORMAT=json
LOG_LEVEL=info
LOG_OUTPUT=stdout # 'file', 'stdout' or 'both'
PORT=52000
VAULT_ADDR=https://your-vault-address:8200
VAULT_PKI_MOUNTS=pki,pki2
VAULT_READ_TOKEN=s.YourGeneratedTokenHere
VAULT_TLS_INSECURE=false
VCV_ADMIN_PASSWORD=$2y$10$REPLACE_WITH_A_BCRYPT_HASH
VCV_EXPIRE_CRITICAL=7
VCV_EXPIRE_WARNING=30