[Unit]
Description=VCV vault dev-2 container
Documentation=https://github.com/julienhmmt/vcv
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=vcv-vault-dev-2
Image=docker.io/hashicorp/vault:1.21.1
PublishPort=38202:8202
Network=bridge
Volume=%h/containers/storage/vcv/vault-dev-init-2.sh:/vault-init.sh
Exec=/vault-init.sh

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
