# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  golangci-lint:
    name: Go lint
    runs-on: ubuntu-latest
    timeout-minutes: 10

    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: backend/go.mod

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          working-directory: backend
          args: -v --timeout=3m

  build:
    name: Go build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: backend/go.mod
        cache: true

    - name: Verify dependencies
      run: go mod verify
      working-directory: backend

    - name: Build
      run: go build -v ./...
      working-directory: backend

    - name: Test
      run: go test -v ./...
      working-directory: backend
      env:
        GO_TEST_ENVIRONMENT: 1
        LOG_LEVEL: INFO
