---

name: Go

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  golangci-lint:
    name: Go lint
    runs-on: ubuntu-latest
    timeout-minutes: 10

    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: app/go.mod

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          working-directory: app
          args: -v --timeout=3m

  build:
    name: Go build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: app/go.mod
        cache: true

    - name: Verify dependencies
      run: go mod verify
      working-directory: app

    - name: Build
      run: go build -v ./...
      working-directory: app

    - name: Test
      run: go test -v ./...
      working-directory: app
      env:
        GO_TEST_ENVIRONMENT: 1
        LOG_LEVEL: INFO
