---

name: Lint

on:
  push: null
  pull_request: null

permissions: {}

jobs:

  super-linter:
    name: Super Linter
    runs-on: ubuntu-latest
    timeout-minutes: 15

    permissions:
        contents: read
        packages: read
        statuses: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          # super-linter needs the full git history to get the
          # list of files that changed across commits
          fetch-depth: 0

      - name: Super-linter
        uses: super-linter/super-linter/slim@v8.3.2
        env:
          DEFAULT_BRANCH: main
          # To report GitHub Actions status checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_CSS: true
          VALIDATE_MARKDOWN: true
          VALIDATE_YAML: true
